/* Google Web Font : Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/* FontAwesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Reset CSS */
* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Default CSS */
body {
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-size: 15px;
    margin: 0;
    height: 100vh;
    background-color: #fff;
}

/* Entire Layout */
.cd-section {
    height: 100vh;
}

.cd-section>div {
    height: 100%;
    position: relative;
}

/*
 * 액자식구조를 위해서 가로*세로 여백을 계산하여 띄워준다 
 * 여백: 상 60px, 하좌우 20px
 */
.content {
    background-color: #ddd;
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 80px);
    left: 20px;
    bottom: 20px;
    overflow: hidden;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.gnb-inner {
    /* border: 1px solid #000; */
    width: calc(100% - 40px);
    margin: auto;
    height: 60px;
    line-height: 60px;
}

.logo {
    float: left;
}

.logo img {
    /* line-height 로 header height 맞추면 텍스트는 중간정렬 되는데 
       img 는 적용되지 않아 약간의 조정이 필요함 */
    padding-top: 17px;
}

.gnb {
    float: right;
}

.menu {
    display: none;
}

.menu a {}

.slogan {
    font-style: italic;
    font-size: 16px;
}

.trigger {
    display: none;
}

/* Hiring Button */
.btn-hiring {
    position: fixed;
    right: 50px;
    bottom: 50px;
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, alpha);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /*:active시변하는주체=transition추가함*/
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.btn-hiring .fa {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    margin-right: 5px;
}

/* 버튼처러 눌리는 효과(active: 마우스를 누르고 떼지 않은 상태, 를 의미함) => 가상클래스로 구현 */
.btn-hiring:active {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}